body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ff0000;
}

/*headings and logo*/

h1 {
    font-family: Arial, Helvetica;
    font-weight: 200;
    color: #ff0000;
}

#logo {
    font-size: 300%;
    color: black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

/* navigation links*/


#menu {
    font-size: small;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 30px;
}

#menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    color: black;
    display: inline;
}

/*logo and frontpage image*/

#autograph {
    height: 390px;
    width: 30%;
    background: url('../images/autograph1.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
    }

#logo-maja {
    height: 300px;
    width: 100%;
    background: url('../images/logo-maja2.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    padding: 20px 10px 50px 20px;
}

#logo-outer {
    height: 300px;
    width: 100%;
    position: relative;
}
img {
    height: 100%
    width: 100%
}

