@import url('https://fonts.googleapis.com/css?family=JosefinSans|LucidaSans|Geneva|Verdana')

* {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: black;
}

/*headings and logo*/

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

/* navigation links*/


#menu {
    font-size: small;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 30px;
}

#menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    color: black;
    display: inline;
}

/*logo and frontpage image*/

.imgbox {
    display: grid;
    height: 90%;
}

.center-fit {
    max-width: 50%;
    max-height: 100vh;
    margin: auto;
}

img {
    height: 90%;
    width: 90%;
}


/*welcome section*/

.section {
    margin-top: 100px;
}

.section .section-item {
    display: flex;
    margin-bottom: 80px;
}

.section-item .reverse {
     flex-direction: row-reverse;
     justify-content: space-between;
     
}

#autograph {
    height: 390px;
    width: 30%;
    background: url('../images/autograph1.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
    }


#welcome {
    text-align: left;
    padding-left: 20px;
}

.welcome-text {
    padding: 50px 50px 100px 350px;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
}

#about-photo {
    height: 390px;
    width: 30%;
    background: url('../images/about.jpg') no-repeat center center;
    float: right;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
}

#about {
    text-align: leftS;
    padding-right: 20px;
}

.about-text {
    padding: 50px 50px 100px 350px;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
}

#event-calendar {
    height: 390px;
    width: 30%;
    background: url('../images/calendar.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
}

.column {
    float: left;
    width: 50%;
}

.row::after {
    display: table;
    clear: both;
}

#events {
    text-align: center;
    padding-left: 20px;
}

.events-text {
    padding: 50px 50px 100px 350px;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
}

#gallery-img {
    height: 390px;
    width: 30%;
    background: url('../images/gallery.jpg') no-repeat center center;
    float: right;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
}

#gallery {
    text-align: center;
    padding-right: 20px;
}

table, th, td {
    border: 1px solid slategray;
    border-collapse: collapse;
}

/* footer */

.social-media-links {
    text-align: center;
}

.social-media-links i {
    color: blue;
    font-size: 300%;
    margin: 1%;
    padding: 3%;
}

.social-media-links > li{
    display: inline;
}

.fa-instagram {
    background: none;
    color: white;
} 

.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    border-radius: 20%;
    text-decoration: none;
}

/*event page*/


/*gallery page*/

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }