@import url('https://fonts.googleapis.com/css?family=JosefinSans|LucidaSans|Geneva|Verdana')

* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    border: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: none;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  /*@media only screen and (min-width: 1250px) {
    
    [class*="col-"] {
      width: 50%;
    }
  }*/

@media (max-width: 1250px) {
    /* For mobile phones: */
.col-6  {
width: 100%;
}
    .col-3{
    width: 50%;}
}

@media (max-width: 750px)
{
    .col-3{
    width: 100%;}
}


/*@media (max-width: 680px)
[class*="col-"]  {
width: 50%;
}

@media (min-width: 680px)
[class*="col-"]  {
width: 25%;
}
*/



body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: black;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1600px;
}

/*headings and logo*/

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.imgbox {
    display: grid;
    height: auto;
}

.center-fit {
    max-width: 50%;
    max-height: 100vh;
    margin: auto;
}

img {
    height: auto;
    width: auto;
    box-sizing: border-box;
}


/* navigation links*/


#menu {
    font-size: small;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 30px;
}

#menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    color: black;
    display: inline;
}

#menu a:hover {
    color: #0000ff;
}

.welcome-text {
    width: 100%;
    padding: 50px 10px 20px 10px;
    text-align: center; 
}

.about-text {
    width: 100%;
    padding: 50px 10px 20px 10px;
    text-align: center; 
}


/*events*/

.event::after {
    content: "";
    clear: both;
    display: table;
}

#event {
    text-align: right;
    padding-left: 20px;
}

.event-text {
    padding: 0px 50px 50px 50px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

table, tr, th {
    table-layout:fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid;
    border-style: groove;
    background-color: #f2f2f2;
    row-gap: 3px;
     
}

tr {
    height: 25px;
}

table > :first-child {
    font-style: bold;
}

/*contact form*/

.container {
    position: relative;
    text-align: center;
    max-width: 500px;
    margin:auto;
}

form {
    background-color: #f2f2f2;
    margin: auto;
    text-align: center;
    width: 30%;
}

.text {
    height: fit-content;
    width: max-content;
}

.text:hover {
    color: slategrey;
}

.button {
    background-color: rgb(175, 171, 171);
    margin-left: 30px;
    width: 100px;
    text-transform: uppercase;
}

.button:hover {
    color:rgb(229, 134, 134);
    background-color: slategrey;
}

/*gallery*/

#gallery {
    clear: both;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    float: left;
    width: 24.99999%;
    height: auto;
}
img.resize {
    max-width: 100%;
    max-height: 50%;
}

/* footer */

footer {
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 100px;
    clear: both;
}

.footer {
    min-height: 100%;
    position: relative;
}

.social-media-links {
    text-align: center;
    display: grid;
    padding-top: 100px;
}

.social-media-links :hover {
    color: #0000ff;
}

.social-media-links i {
    color: rgb(81, 81, 233);
    font-size: 200%;
    margin: 1%;
    padding: 3%;
}

.social-media-links > li{
    display: contents;
}

.fa-instagram {
    background: none;
    color: white;
} 

.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    border-radius: 20%;
    text-decoration: none;
}

.media-center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/*media queries*/
 
/* Default styles for all screen sizes */
* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    border: none;
  }
    
 /* Styles for screens with a maximum width of 1200px */
  @media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
  /* Styles for screens with a maximum width of 768px */
  @media only screen and (max-width: 768px) {
    /* For tablets: */
    h1 {
      font-size: 24px;
    }

  }
  
  /* Styles for screens with a maximum width of 480px */
  @media only screen and (max-width: 480px) {
    /* For small screens: */
    h1 {
      font-size: 18px;
    }

  }

  

