@import url('https://fonts.googleapis.com/css?family=JosefinSans|LucidaSans|Geneva|Verdana')

* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    border: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: black;
    padding-bottom: 100px;
}

/*headings and logo*/

h1, h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}

.imgbox {
    display: grid;
    height: auto;
}

.center-fit {
    max-width: 50%;
    max-height: 100vh;
    margin: auto;
}

img {
    height: auto;
    width: auto;
    box-sizing: border-box;
}


/* navigation links*/


#menu {
    font-size: small;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 30px;
}

#menu li {
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    color: black;
    display: inline;
}

#menu a:hover {
    border-bottom: 1px solid #777;
}

/*welcome section*/

.section {
    margin: 100px 20px 30px 20px;
    
}

.section .section-item {
    display: flex;
    margin-bottom: 80px;
}

.section-item .reverse {
     flex-direction: row-reverse;
     justify-content: space-between;
     
}

#autograph {
    height: 390px;
    width: 30%;
    background: url('../images/autograph1.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
    }


#welcome {
    text-align: left;
    padding-left: 20px;
}

.welcome-text {
    padding: 50px 50px 100px 500px;
    font-size: small;
    text-align: center;
    letter-spacing: 1px;
}

#about-photo {
    height: 390px;
    width: 30%;
    background: url('../images/about.jpg') no-repeat center center;
    float: right;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
}

#about {
    text-align: left;
    padding-right: 20px;
}

.about-text {
    padding: 50px 500px 150px 50px;
    font-size: small;
    text-align: center;
    letter-spacing: 1px;
}


/*events*/

#event-calendar {
    height: 390px;
    width: 30%;
    background: url('../images/calendar.jpg') no-repeat center center;
    float: left;
    overflow: hidden;
    border: 5px solid grey;
    padding: 20px 5px 5px 20px;
    display: block;
}

.column {
    float: left;
    width: 50%;
}

.row::after {
    display: table;
    clear: both;
}

#events {
    text-align: center;
    padding-left: 20px;
}

.events-text {
    padding: 50px 50px 100px 350px;
    font-size: medium;
    text-align: center;
    letter-spacing: 1px;
}

/*gallery*/

#gallery {
    text-align: center;
    padding-right: 20px;
}

table, th, td {
    border: 1px solid slategray;
    border-collapse: collapse;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/* footer */

footer {
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 100px;
    clear: both;
}

.footer {
    min-height: 100%;
    position: relative;
}

.social-media-links {
    text-align: center;
    display: grid;
    padding-top: 100px;
}

.social-media-links i {
    color: rgb(81, 81, 233);
    font-size: 200%;
    margin: 1%;
    padding: 3%;
}

.social-media-links > li{
    display: contents;
}

.fa-instagram {
    background: none;
    color: white;
} 

.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    border-radius: 20%;
    text-decoration: none;
}

.media-center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

/*media queries*/

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

@media (max-width: 600px) {
    img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    p {
        clear: both;
    }
}

/*contact form*/

.contact-form {
    position: relative;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    border-color: slategrey;
}

.contact-form h2 {
    margin-top: 100px;
    margin-bottom: 30px;
}

.text {
    height: fit-content;
    width: max-content;
}

.text:hover {
    border-color: black;
}

.button:hover {
    color:rgb(229, 134, 134);
    background-color: slategrey;
}